/*

.div-nav-box {
    padding-top: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div-nav {
    color: white;
}

.div-logo {
    width: 70px;
    height: 50px;
    background-color: red;
}

.main-box {
    background-color: red;
    width: 100%;
    height: 1000px;
}

.footer-box {
    background-color: black;
    color: white; 
    height: 100px;
}

.div-foot-box {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
} */

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
}
/********************************************NAV***********************************/

.div-presentacion {
    display: flex;
    margin-top: -60px;
    background-color: black;
}
.div-video-presentacion {
    width: 100%;
}
.video-presentacion {
    width: 100%;
}
.div-presentacion-interno {
    padding-top: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.div-presentacion-redes {
    padding-right: 30px;
}
.div-logo {
    width: 30%;
}
.img-logo-nav{
    width: 100%;
}

/******************************************MENU***************************************/

.div-nav-box {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.div-nav {
   text-decoration: none;
   color: white;
   font-size: x-large;
   width: 100%;
}
.div-nav-iconos {
    width: 100%;
    border: 2px solid white;
    text-align: center;
    padding: 5px;
}

/**************************************PRINCIPAL***************************************/

.main-box {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}
.main-img-principal {
    margin: auto;
}
.div-portafolio {
    display: flex;
    width: 100%;
}
.img-portafolio {
    width: 60%;
    padding-left: 20%;
    margin-top: -25%;
    padding-bottom: 100px;
}

/**********************************FOOTER**************************************************/
.linea {
    height: 2px;
    width: 100%;
    background-color: white;
}
.footer {
    display: flex;
    flex-direction: column;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    color: white;
}
.div-footer {
    width: 33%;
}
.div-footer-logo {
    width: 34%;
}
.div-contacto-footer {
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.logo-footer {
    width: 70%;
    padding-left: 15%;
}

.copy {
    display: flex;
    background-color: black;
    color: white;
    margin-top: 2px;
}
.copy-text {
    margin: auto;
}
.contacto-footer {
    text-align: center;
}
.li-contacto {
    list-style-type: none;
}
.caja-li-contacto {
    text-align: center;
    padding: 0;
}

.h-terminos {
    color: white;
}
.li-terminos {
    padding-top: 10px;
}
/******************************************************REDES***********************************************/
.redes-footer {
    text-align: center;
}
.li-red {
    text-decoration: none;
}
.redes-sociales {
    list-style-type: none;
}
.box-redes {
    display: flex;
}